body{
	font-family: 'Oswald', sans-serif;
}
.navbar-text{
	margin-right: 20px;
}
.add-officer{
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif !important;
	padding: 20px !important; 
} 
.navbar{
	background-color: #3c4142;
	border-radius: 0 !important;
	margin: 0 !important;
	margin-bottom: 20px !important;
}
.zns-brand{
	color: white !important;
}
.navbar-link{
	color: white !important;
}